@import 'src/assets/index.scss';

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr) repeat(2, 0.5fr)  repeat(3, 1fr);
  grid-template-areas:
    'card-001'
    'card-002'
    'card-003'
    'logo'
    'banner'
    'card-004'
    'card-005'
    'card-006';
  grid-gap: 30px;

  @include breakpoint(md-up) {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 0.5fr 1fr;
    grid-template-areas:
    'card-001 card-001 card-001 card-001 card-002 card-002 card-002 card-002 card-003 card-003 card-003 card-003'
    'banner banner banner banner banner banner banner banner banner logo logo logo'
    'card-004 card-004 card-004 card-004 card-005 card-005 card-005 card-005 card-006 card-006 card-006 card-006';
    grid-gap: 50px;
  }

  .card-item {

    &--001 {
      grid-area: card-001;
    }

    &--002 {
      grid-area: card-002;
    }

    &--003 {
      grid-area: card-003;
    }

    &--004 {
      grid-area: card-004;
    }

    &--005 {
      grid-area: card-005;
    }

    &--006 {
      grid-area: card-006;
    }
  }

  .card-banners {
    &__logo {
      grid-area: logo;

      @include breakpoint(md-only) {
        grid-column: span 3;
      }
    }

    &__title {
      grid-area: banner;

      @include breakpoint(md-only) {
        grid-column: span 9;
      }
    }
  }
}
