$White: #FFF;
$Black: #000;
$AquaHaze: #F4F6F9;
$Gray: #808080;
$TotemPole: #941B0C;
$Broom: #FFE81A;

$basic-bg-color: $AquaHaze;
$yellow-bg-color: $Broom;
$text-color: $Black;
$old-price-color-text: $Gray;
$current-price-color-text: $TotemPole;
